body{
    background-color: #161D27;
}
header{
    background-color: #eef6f8;
    border-radius: 15vw;
    width: 50%;
    display: inline-block;
    margin-left: 25%;
    position: fixed;
  }

header ul li{
    padding-right: 10%;
    display: inline-block;
    padding-left: 10%;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #FD4C53;
  }

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 7.5%;
  padding-right: 7.5%;
  margin-bottom: 0;
  list-style: none;
}   

.post-body{
  box-sizing: border-box
}


.posts{
    margin-top: 6em;
    margin-left: 10%;
    margin-right: 10%;
}
  .post1 {
    border-radius: 10%;
    background-color: #eef6f8;
    width: 80%;
    height:auto;
    margin: 10%;
    padding: 5%;
  }

.post2 {
    border-radius: 10%;
    background-color: #eef6f8;
    width: 80%;
    height:50%;
    margin: 10%;
    padding: 5%;
  }
  
.column {
    float: center;
    width: 33.33%;
  }
  .column-2 {
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.column{
  padding: 0.5%;
}
img{
    border-radius: 10%;
  }
.hashtag-browse{
  display: inline-block;
  /* margin-top: 2%; */
  margin-right: 15%;
  margin-left: 15%;
}
.btn{
  background-color:#FD4C53;
  color:#161D27;
}
hr{
  color: #eef6f8;
  background-color: #eef6f8;
}
.container1{
  margin-bottom: 10%;
}
pre {
  margin-left: 25%;
  display: block;
  font-size: 157.5%;
  color: #eef6f8;
  margin-right: 25%;
  text-align: center;
}
