body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #050016;
}
header{
  background-color: #eef6f8;
  border-radius: 5vw;
  width: 50vw;
  display: inline-block;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  position: fixed;
  }
.home-head{
    background-color: #e2eef1;
}
header ul li{
  padding-right: 10%;
  display: inline-block;
  padding-left: 10%;
  margin: auto;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #fd4c53;
}

.nav {
  /* display: -ms-flexbox; */
  display: flex;
  /* -ms-flex-wrap: wrap; */
  flex-wrap: wrap;
  padding-left: 0;
  /* margin-bottom: 0; */
  list-style: none;
  margin: auto;
}   

.post-body{
  box-sizing: border-box
}


.posts{
    margin-top: 6em;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(5, 0, 22);
}

.postHeading{
  margin-top: 6em;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #eef6f8;
  width:80%;
  border-radius: 5%;
  height: 256px;
}
  .post1 {
    border-radius: 10%;
    background-color: #eef6f8;
    width: 80%;
    height:auto;
    margin: 10%;
    padding: 5%;
  }


.post2 {
    border-radius: 10%;
    background-color: #eef6f8;
    width: 80%;
    height:48%;
    margin: 10%;
    padding: 5%;
  }

  
.column {
    float: center;
    width: 33.33%;
    padding: 0.5%;
  }
  .column-2 {
    width: 33.33%;
  }
  .column3 {
    width: 49%;
    float: center;
    padding: .5%;
  }
  .column4{
    width: 35%;
    float: center;
    padding: .5%;
  }
  .column5{
    width: 65%;
    float: center;
    padding: .5%;
  }
.col-50{
    width: 49%;
    float: center;
    border-radius: 10%;
    /* background-color: #eef6f8; */
    /* width: 80%; */
     /* height:%; */
    margin: 10%;
    padding: 5%;
    /* display: flex;
    justify-content: center; */
}
.head-post{
    width: 50%;
    background-color: #161D27;
}
.headPos{
  height: 10%;
}
.row {
    display: flex;
    width: 100%
  }
.row2{
  display: flex;
  width: 80%;
  background-color: #eef6f8;
  border-radius: 2%;
  float: center; 
  margin: auto;
  /* height: 50%; */
}
.row3{
  display: flex;
  width: 80%;
  background-color: #eef6f8;
  border-radius: 2%;
  float: center; 
  margin: auto;
}
.row3:after {
  content: "";
  display: table;
  clear: both;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

img{
    border-radius: 10%;
  }
.hashtag-browse{
  display: inline-block;
  /* margin-top: 2%; */
  margin-right: 15%;
  margin-left: 15%;
  position: fixed;
  /* top:0; */
}
.btn{
  background-color:#FD4C53;
  color:#161D27;
}
.btn {
  color: #fff;
  background-color: #fd4c53;
  /* border-color: #6c757d; */
  border: 0px;
}
.hashtag-browse{
  margin-left: 20%; 
}
hr{
  color: #eef6f8;
  background-color: #eef6f8;
}
.container1{
  margin-bottom: 10%;
  display: inline-block;
}
pre {
  margin-left: 25%;
  display: block;
  font-size: 157.5%;
  color: #eef6f8;
  margin-right: 25%;
  text-align: center;
}
.nav .nav-pills{
  margin-left: 50%; 
  text-align: center;
  /* padding: 50; */
}
.nav-item{
  width: fit-content;
}
.about{
  /* margin: auto; */
  margin-top: 6em;
  text-align: center;
  text-decoration: #FD4C53;
  color:#eef6f8;
}

a{
  color: #FD4C53; 
}
